.header {
    margin: 0;
    font-weight: 500;
}

.info {
    margin-bottom: 16px;
}

.fill {
    width: 100%;
}

.footer {
    margin-top: 8px;
    display: flex;
    flex-direction: row-reverse;
}