<mat-toolbar color="primary" class="main-toolbar">
  <div class="item-group">
    <button mat-button [routerLink]="['']">
      <mat-icon>home</mat-icon>
      VIST
    </button>

    <button mat-button [routerLink]="['/eval']">
      <mat-icon>grade</mat-icon>
      Evaluation
    </button>
  </div>

  <div class="item-group right">
    <vist-overlay #authOverlay>
      <div class="auth-wrap">
        <router-outlet name="auth"></router-outlet>
      </div>
    </vist-overlay>
    <button mat-button [vistOverlayTriggerFor]="authOverlay" [routerLink]="[{ outlets: { 'auth': [authView | async] } }]">
      <mat-icon>account_circle</mat-icon>
      {{ accountButtonTitle | async }}
    </button>

    <!--<mat-menu #helpMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>help</mat-icon>
        Help
      </button>
      <button mat-menu-item>
        <mat-icon>info</mat-icon>
        About
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="helpMenu">
      <mat-icon>more_vert</mat-icon>
    </button>-->
  </div>
</mat-toolbar>