<mat-toolbar color="primary" class="main-toolbar">
  <div class="item-group">
    <button mat-button [routerLink]="['']">
      <mat-icon>home</mat-icon>
      VIST
    </button>

    <button mat-button [routerLink]="['/eval']">
      <mat-icon>grade</mat-icon>
      Evaluation
    </button>
  </div>

  <div class="item-group right">
    <vist-overlay #authOverlay>
      <app-auth></app-auth>
      <!--<div class="auth-wrap">
        <router-outlet name="auth"></router-outlet>
      </div>-->
    </vist-overlay>
    <button mat-button [vistOverlayTriggerFor]="authOverlay" [routerLink]="[{ outlets: { 'auth': [authView | async] } }]">
      <mat-icon>account_circle</mat-icon>
      {{ accountButtonTitle | async }}
    </button>
  </div>
</mat-toolbar>