<mat-toolbar color="primary" class="main-toolbar">
  <div class="item-group">
    <button mat-button [routerLink]="['']">
      Search
    </button>

    <button mat-button [routerLink]="['/eval']">
      Evaluation
    </button>
  </div>

  <div class="item-group right">
    <vist-overlay #settingsOverlay>
      <app-settings></app-settings>
    </vist-overlay>
    <button mat-icon-button matTooltip="Settings" [vistOverlayTriggerFor]="settingsOverlay">
      <mat-icon>settings</mat-icon>
    </button>

    <vist-overlay #authOverlay>
      <app-auth></app-auth>
    </vist-overlay>
    <button mat-icon-button [matTooltip]="tooltip | async" [vistOverlayTriggerFor]="authOverlay">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>