h1, h2, a {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: whitesmoke;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
}

h2 {
    font-size: 1.3rem;
    font-weight: 400;
}

a {
    text-decoration: underline;
}

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.bg-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.bg-wrap > .bg-blue {
    background-color: #00376c;
    height: 61%;
}

#desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

#desc > div {
    text-align: center;
}

#desc img {
    width: 6vw;
    min-width: 140px;
    margin: 3vh;
}

app-search {
    width: 25vw;
    min-width: 400px;
    max-width: 500px;
    margin: 3vh;
}
