@import '~@angular/material/theming';

h1, h2, a {
    color: whitesmoke;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 1.3rem;
    font-weight: 300;
}

a {
    text-decoration: underline;
}

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.bg-blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 33%;
    gap: 42px;

    div {
        text-align: center;
    }
}

#desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

#desc app-search {
    width: 25vw;
    min-width: 400px;
    max-width: 500px;
}

@mixin home-component-theme($theme) {
    #desc {
        background-color: map-get(map-get($theme, background), background);
    }

    .bg-blue {
        background-color: mat-color(map-get($theme, primary));
    }
}
