@use "@angular/material" as mat;

@mixin vist-header-theme($theme) {
    .vist-header {
        background-color: mat.get-theme-color($theme, primary);
        color: mat.get-theme-color($theme, primary, default-contrast);
        display: flex;
        align-items: center;
        left: 0;
        right: 0;
        padding: 0 32px;

        & > h1 {
            font-family: mat.get-theme-typography($theme, headline-5, font-family);
            font-size: mat.get-theme-typography($theme, headline-5, font-size);
            font-weight: 300;
            padding: 28px 0;
            margin: 0;
        }

        & > .spacer {
            flex-grow: 1;
        }
    }

    .vist-header.mobile {
        padding: 0 16px;

        & > h1 {
            margin: 0 16px;
        }
    }
}
