table {
    width: 100%;
}

.mat-column-score, .mat-column-year {
    width: 40px;
}

vist-tabs {
    overflow: hidden;
    padding: 8px 60px 16px 70px;
}

pre, .doc-stats > * {
    margin: 0;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre:not(.sentences) ::ng-deep .sentence {
    background-color: transparent !important;   /* super ugly! */
}

vist-key-value-table a {
    color: #00376c;
    text-decoration: none;
}

vist-key-value-table a:not(:last-of-type)::after {
    color: rgba(0, 0, 0, 0.87);
    content: ', ';
    white-space: pre;
}

vist-key-value-table a.disabled {
    color: rgba(0, 0, 0, 0.87);
}
