.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    justify-content: center;
}

.loading-shade > mat-spinner {
    position: absolute;
    top: calc(50vh - 175px);    /* 175px = navbar + header + tabs_hdr + padding - spinner/2 */
}

table {
    width: 100%;
}

.mat-column-score, .mat-column-year {
    width: 40px;
}

vist-tabs {
    overflow: hidden;
    padding: 8px 84px 8px 94px;
}

.article-footer {
    display: flex;
    color: #265582;
    background-color: rgba(38, 85, 130, 0.02);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 8px 0 8px 94px;
}

pre, .doc-stats > * {
    margin: 0;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font: 9pt "Merriweather", serif;
    line-height: 14pt;
}

pre:not(.sentences) ::ng-deep .sentence {
    background-color: transparent !important;   /* super ugly! */
}
