mat-card {
    border-radius: 2px;
}

.toggle-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 120px;
    padding-left: 8px;
    font-size: 14px;
    font-weight: 400;
}

.toggle-wrapper mat-slide-toggle {
    flex: 1;
    flex-basis: 180px;
    margin-bottom: 8px;
}

#filter-header {
    margin: 0;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-form .fill {
    width: 100%;
}

.filter-form .half {
    width: 48%;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 8px;
}