.toggle-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 120px;
    padding-left: 8px;
}

.toggle-wrapper mat-slide-toggle {
    flex: 1;
    flex-basis: 180px;
    margin-bottom: 8px;
}