.toggle-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 120px;
    padding-left: 8px;
}

.toggle-wrapper mat-slide-toggle {
    flex: 1;
    flex-basis: 180px;
    margin-bottom: 8px;
}

input[name="journals"] {
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 8px;
}