@use '@angular/material' as mat;
@import '../../app-theme';

@include mat.core();

$theme-primary: mat.define-palette($vist-light-blue);
$theme-accent: mat.define-palette($vist-dark-blue);

$theme: mat.define-light-theme((color: (primary: $theme-primary,
                accent: $theme-accent,
            ),
            density: -1,
        ));

@include mat.all-component-themes($theme);
@include vist-app-theme($theme);