@import '~@angular/material/theming';

:host {
    display: flex;
    flex-direction: column;
}

@mixin vist-tabs-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    $config: mat-typography-config();

    .vist-tabs-header {
        display: flex;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-family: mat-font-family($config);
        font-size: 10pt;

        > .item {
            cursor: pointer;
            margin-right: 16px;
            color: mat-color($foreground, disabled-text);
            transition: color 0.2s ease-out;

            &.active {
                color: mat-color($primary);
            }
        }
    }
}

.content {
    padding: 1em 0;
}
