@use '@angular/material' as mat;

@mixin vist-expandable-table($theme) {
    table[vistExpandable] {
        td, th {
            padding: 0 15px;
        }

        > tbody > tr:nth-child(odd) {
            cursor: pointer;

            > td {
                border-bottom-width: 0;
            }

            &:not(.selected) > td {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 0;
            }

            &:hover > td,
            &.selected > td {
                color: mat.get-theme-color($theme, primary);
            }
        }

        > tbody > tr:nth-child(even) {
            height: 0;

            > td {
                padding: 0;
            }
    
            > td > [vistExpansionDetail] {
                overflow: hidden;
            }
        }
    }
}
