$vist-dark-blue: (
    50 : #e0e7ed,
    100 : #b3c3d3,
    200 : #809bb6,
    300 : #4d7398,
    400 : #265582,
    500 : #00376c,
    600 : #003164,
    700 : #002a59,
    800 : #00234f,
    900 : #00163d,
    A100 : #7395ff,
    A200 : #406fff,
    A400 : #0d48ff,
    A700 : #003bf2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$vist-light-blue: (
    50 : #e0eefd,
    100 : #b3d6f9,
    200 : #80baf5,
    300 : #4d9ef1,
    400 : #268aee,
    500 : #0075eb,
    600 : #006de9,
    700 : #0062e5,
    800 : #0058e2,
    900 : #0045dd,
    A100 : #ffffff,
    A200 : #d1dcff,
    A400 : #9eb6ff,
    A700 : #85a3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);