:host {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

mat-checkbox {
    margin: 16px;
}

.table-wrap {
    overflow: auto;
}

.table-wrap table {
    width: 100%;
}

.mat-column-genes {
    width: 100px;
}

.mat-column-mutations {
    width: 100px;
}

.mat-column-cancer {
    width: 100px;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 8px;
}
