:host {
    max-height: 450px;
}

mat-card {
    padding: 0;
    max-height: inherit;
}

mat-tab-group {
    max-height: inherit;
}

mat-form-field {
    width: 100%;
}

.content-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.content-wrap mat-checkbox {
    margin: 16px;
}

.table-wrap {
    overflow: auto;
}

.table-wrap table {
    width: 100%;
}

.mat-column-genes {
    width: 100px;
}

.mat-column-mutations {
    width: 100px;
}

.mat-column-cancer {
    width: 100px;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 8px;
}