<mat-card>
  <mat-card-header>
    <mat-card-title>Highlighting</mat-card-title>
    <mat-card-subtitle>Select which entities to highlight in the results</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="toggle-wrapper">
      <mat-slide-toggle color="primary" [(ngModel)]="_highlight.sentences" [disabled]="!_enabled.sentences"
        matTooltipPosition="above" matTooltip="Highlighting of relevant sentences is not available for clinical trials."
        [matTooltipDisabled]="_enabled.sentences">Relevant Sentences</mat-slide-toggle>
      <mat-slide-toggle color="primary" [(ngModel)]="_highlight.genes">Genes</mat-slide-toggle>
      <mat-slide-toggle color="primary" [(ngModel)]="_highlight.mutations">Mutations</mat-slide-toggle>
      <mat-slide-toggle color="primary" [(ngModel)]="_highlight.chemicals">Chemicals</mat-slide-toggle>
    </div>
  </mat-card-content>
</mat-card>