<vist-tabs>
  <vist-tab title="Abstract">
    <pre [ngClass]="highlighting" [innerHtml]="document['abstract'] | annidx:document['sents']:'sentence' | annregex:document['gene_name']:'gene' | annregex:document['mutation_normalizedValue']:'mutation' | annregex:document['chemicals']:'chemical' | sanitizeHtml"></pre>
  </vist-tab>
  <vist-tab title="Statistics">
    <vist-key-value-table>
      <vist-entry key="Clinical Relevance">{{ document.clinicalRelevance }} ({{ document.clinical_relevance_scale }})</vist-entry>
      <vist-entry key="Cancer Type">{{ document.cancerType }} ({{ document.confidence_is }})</vist-entry>
      <vist-entry key="Article Source"><a href="{{ document.articleLink }}">{{ document.articleLink }}</a></vist-entry>
      <vist-entry *ngFor="let row of rows" [key]="row.name">
        <a *ngFor="let entry of row.entries" [class.disabled]="entry.key === undefined" [attr.href]="entry.key ? row.url + entry.key : null"
          target="_blank">{{ entry.value }}</a>
      </vist-entry>
    </vist-key-value-table>
  </vist-tab>
</vist-tabs>
