<div class="header">
  <span class="item" [class.selected]="!showStats" (click)="showStats = false">Abstract</span>
  <span class="item" [class.selected]="showStats" (click)="showStats = true">Statistics</span>
</div>
<div class="content">
  <pre *ngIf="!showStats; else stats" [ngClass]="highlight" [innerHtml]="document['abstract'] | annidx:document['sents']:'sentence' | annregex:document['gene_name']:'gene' | annregex:document['mutation_normalizedValue']:'mutation' | annregex:document['chemicals']:'chemical' | sanitizeHtml"></pre>
  <ng-template #stats>
    <div class="doc-stats">

      <div class="row">
        <div class="key">Clinical Relevance</div>
        <div class="value">{{ document.clinicalRelevance }} ({{ document.clinical_relevance_scale }})</div>
      </div>

      <div class="row">
        <div class="key">Cancer Type</div>
        <div class="value">{{ document.cancerType }} ({{ document.confidence_is }})</div>
      </div>

      <div class="row">
        <div class="key">Article Source</div>
        <div class="value"><a href="{{ document.articleLink }}">{{ document.articleLink }}</a></div>
      </div>

      <div class="row" *ngFor="let row of rows">
        <div class="key"> {{ row.name }} </div>
        <div class="value">
          <ng-container *ngIf="row.entries?.length > 0; else placeholder">
            <a *ngFor="let entry of row.entries" [class.disabled]="entry.key === undefined" [attr.href]="entry.key ? row.url + entry.key : null"
              target="_blank">{{ entry.value }}</a>
          </ng-container>
          <ng-template #placeholder>
            <span>&mdash;</span>
          </ng-template>
        </div>
      </div>

    </div>
  </ng-template>
</div>