:host {
  overflow: auto;
}

mat-tab-group {
  max-height: inherit;
}

mat-form-field {
  width: 100%;
}

mat-card.box {
  flex: 3;
  padding: 0;
}

app-query-select {
  max-height: 400px;
}

table {
  width: 100%;
}

.mat-column-status {
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.mat-column-score, .mat-column-year {
  width: 40px;
}

vist-tabs {
  overflow: hidden;
  padding: 8px 84px 8px 148px;
}

pre, .doc-stats > * {
  margin: 0;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.tab-content-wrap {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.tab-content-wrap > * {
  padding: 8px;
}

#current-query {
  margin-left: 8px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.rate-wrap {
  display: flex;
  margin: 0 -16px;
  padding: 16px 79px 16px 148px;
  color: #265582;
  background-color: rgba(38, 85, 130, 0.02);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.rate-wrap > .rate-group {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}

.rate-wrap > .rate-group > span {
  font-weight: 500;
  color: #265582;
  margin-bottom: 8px;
}

.rate-wrap > .rate-group > .rate {
  display: flex;
  flex-wrap: wrap;
  margin: -8px -6px;
}

.rate-wrap > .rate-group > .rate > .rank {
  margin: 8px;
  font-size: 12px;
}
