:host {
  overflow: auto;
}

mat-tab-group {
  max-height: inherit;
}

mat-form-field {
  width: 100%;
}

mat-card.box {
  flex: 3;
  padding: 0;
}

app-query-select {
  max-height: 400px;
}

table {
  width: 100%;
}

.mat-column-score, .mat-column-year {
  width: 40px;
}

vist-tabs {
  overflow: hidden;
  padding: 8px 84px 8px 94px;
}

pre, .doc-stats > * {
  margin: 0;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.tab-content-wrap {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.tab-content-wrap > div {
  padding: 8px;
}

#current-query-intro {
  margin-block-start: 0;
}

#current-query {
  margin-left: 8px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}