table {
    width: 100%;
}

.mat-column-score {
    width: 40px;
}

.mat-column-status {
    width: 80px;
}

.mat-column-phase {
    width: 110px;
}

vist-tabs {
    overflow: hidden;
    padding: 8px 124px 8px 94px;
}

pre, .doc-stats > * {
    margin: 0;
}

vist-key-value-table a {
    color: #00376c;
    text-decoration: none;
}

vist-key-value-table a:not(:last-of-type)::after {
    color: rgba(0, 0, 0, 0.87);
    content: ', ';
    white-space: pre;
}

vist-key-value-table a.disabled {
    color: rgba(0, 0, 0, 0.87);
}
