<mat-card>
  <mat-card-header>
    <mat-card-title>Search</mat-card-title>
    <mat-card-subtitle>Compose a query or run one of the <a href="javascript:void(0)"
        (click)="showCustom = !showCustom">sample
        queries</a> to get started.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>    
    <ng-container *ngIf="showCustom; else sample">
      <form #queryForm="ngForm">
        <mat-form-field appearance="standard">
          <mat-label>Keywords</mat-label>
          <input matInput [(ngModel)]="query.keywords" name="keywords">
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Genes</mat-label>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let gene of query.genes" selectable="false" removable="true" (removed)="onRemoved(gene)">
              {{ gene.text }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input [formControl]="geneControl" #geneInput name="genes" [matAutocomplete]="auto" [matChipInputFor]="chipList">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)">
            <mat-option *ngFor="let geneCandidate of geneCandidates | async" [value]="geneCandidate">
              <div class="option-wrap">
                <span class="gene">{{geneCandidate.text}}</span>
                <div class="item">
                  <div class="title">Extensions</div>
                  <div class="value">{{ geneCandidate.extended_annotations.join(', ') }}</div>
                </div>
                <div class="item">
                  <span class="title">Designations</span>
                  <span class="value">{{ geneCandidate.other_designations.join(', ') }}</span>
                </div>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Mutations</mat-label>
          <input matInput [(ngModel)]="query.mutations" name="mutations">
        </mat-form-field>
      </form>

      <div class="footer">
        <button mat-raised-button (click)="send()" color="primary">
          <mat-icon>search</mat-icon>
          Search
        </button>
      </div>
    </ng-container>
    
    <ng-template #sample>
      <div class="table-wrap">
        <table mat-table [dataSource]="evalQueries">
          <ng-container matColumnDef="evaluationQueries_genes">
            <th mat-header-cell *matHeaderCellDef> Gene(s) </th>
            <td mat-cell *matCellDef="let query"> {{query.evaluationQueries_genes}} </td>
          </ng-container>

          <ng-container matColumnDef="evaluationQueries_mutations">
            <th mat-header-cell *matHeaderCellDef> Mutation(s) </th>
            <td mat-cell *matCellDef="let query"> {{query.evaluationQueries_mutations}} </td>
          </ng-container>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let query">
              <button mat-button color="basic" (click)="setEvalQuery(query)">Select</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>