.search-box {
  max-height: 50vh;
}

mat-form-field {
  width: 100%;
}

mat-nav-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 8px;
}