:host {
  max-height: 450px;
}

mat-card {
  padding: 0;
  max-height: 450px;
}

mat-tab-group {
  max-height: 450px;
}

mat-form-field {
  width: 100%;
}

table {
  width: 100%;
  overflow-y: scroll;
}

.query-wrap {
  padding: 16px;
}

.table-wrap {
  height: 100%;
  overflow: auto;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 8px;
}

.mat-option {
  height: 75px;
  line-height: 20px;
}

.option-wrap {
  display: flex;
  flex-wrap: wrap
}

.option-wrap > .gene {
  width: 100%;
  font-weight: 500;
}

.option-wrap > .item {
  font-size: 10pt;
  display: flex;
}

.option-wrap > .item > .title {
  font-weight: 500;
  width: 90px;
}

.option-wrap > .item > .value {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
