:host {
    display: flex;
    width: 100%;
}

:host:not(:last-of-type) {
    margin-bottom: 8px;
}

:host > .key {
    width: 140px;
    font-weight: 500;
}

:host > .value {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
