.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card {
    padding: 0;
}

tr.header-row {
    cursor: pointer;
}

tr.header-row td {
    border-bottom-width: 0;
}

tr.header-row td, th.mat-header-cell {
    padding: 0 15px;
}

tr.header-row.selected td, tr.header-row:not(.selected):hover td {
    color: rgba(0, 55, 108);
}

tr.detail-row {
    height: 0;
}

tr.detail-row td {
    padding: 0;
}

.expanded-detail-wrap {
    overflow: hidden;
}
