@use '@angular/material' as mat;
@import './app-theme';
@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/cdk/a11y-prebuilt.css';
@import './styles/general';

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@include mat.core();

$theme-primary: mat.define-palette($vist-light-blue);
$theme-accent: mat.define-palette($vist-dark-blue);

$theme: mat.define-light-theme((color: (primary: $theme-primary, accent: $theme-accent),
            typography: mat.define-typography-config(),
            density: -1,
        ));

@include mat.all-component-themes($theme);
@include vist-app-theme($theme);