@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/cdk/a11y-prebuilt.css';
@import '@angular/material/theming';
@import './app-theme';
@import './styles/general';

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$theme-primary: mat-palette($vist-light-blue);
$theme-accent: mat-palette($vist-dark-blue);
$theme: mat-light-theme($theme-primary, $theme-accent);

@include mat-core();
@include angular-material-theme($theme);
@include vist-app-theme($theme);
