:host {
  max-width: 320px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fill {
  width: 100%;
}

.half {
  width: 48%;
}

mat-card-actions {
  display: flex;
  flex-direction: row-reverse;
}
