:host {
  display: flex;
  flex: 1;
  overflow: auto;
}

mat-sidenav-container {
  flex: 1;
}

.control-wrap {
  display: flex;
  padding: 32px;
  align-items: flex-start;
}

.sidebar-wrap {
  flex: 1;
  position: sticky;
  top: 32px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  min-width: 300px;
  max-width: 400px;
}

.result-wrap {
  flex: 3;
}

app-filter {
  margin-top: 30px;
}

mat-sidenav {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

mat-sidenav > * {
  width: 100%;
  margin: 0;
}

mat-sidenav > *:not(:last-child) {
  margin-bottom: 16px;
}
